Repository Nine-Byte-Warriors/roche-engine, pull requests merged in 2023-02, with the labels that each got.

#205 Feat/projectile editor enhancement
  Roche-Engine/Components/ProjectileEditor.cpp
  Roche-Engine/Components/ProjectileManager.cpp
  Roche-Engine/Components/ProjectileManager.h
  Roche-Engine/Objects/Projectile.h
  Roche-Engine/Resources/Patterns/SlowWiggle.ptn
  Roche-Engine/Resources/Patterns/sample.ptn
Labels: enhancement, projectile

#209 Updated Camera to work with different level TileMaps
  Roche-Engine/Objects/Camera.cpp
  Roche-Engine/Resources/Levels.json
Labels: bug, tile map

#218 Can toggle a collider to be a trigger from the editor
  Roche-Engine/Collisions/BoxCollider.cpp
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/EntityController.cpp
  Roche-Engine/Components/EntityController.h
  Roche-Engine/Components/EntityEditor.cpp
  Roche-Engine/Components/EntityEditor.h
  Roche-Engine/Resources/Entity/Entity.json
Labels: enhancement, collisions

#223 Lock to scale changed to set to scale
  Roche-Engine/Components/EntityEditor.cpp
  Roche-Engine/Components/EntityEditor.h
Labels: bug, collisions

#225 UI scrunching fix
  Roche-Engine/Levels/Level.cpp
  Roche-Engine/Roche-Engine Release.exe
  Roche-Engine/UI/UIEditor.cpp
  Roche-Engine/UI/UIEditor.h
Labels: bug, ui

#231 Trigger Toggle Fix + Collider Size Fix
  Roche-Engine/Collisions/BoxCollider.cpp
  Roche-Engine/Collisions/CircleCollider.cpp
  Roche-Engine/Components/Collider.cpp
  Roche-Engine/Components/Collider.h
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/Entity.h
  Roche-Engine/Resources/Entity/Entity.json
Labels: bug, enhancement, collisions

#234 Now music is looping
  Roche-Engine/Audio/AudioEngine.cpp
Labels: audio

#246 Added Collider Layers
  Roche-Engine/Collisions/CollisionHandler.cpp
  Roche-Engine/Collisions/CollisionHandler.h
  Roche-Engine/Collisions/CollisionMatrix.cpp
  Roche-Engine/Collisions/CollisionMatrix.h
  Roche-Engine/Collisions/LayerMask.h
  Roche-Engine/Components/Collider.h
  Roche-Engine/Components/Entity.cpp
  Roche-Engine/Components/EntityController.cpp
  Roche-Engine/Components/EntityController.h
  Roche-Engine/Components/EntityEditor.cpp
  Roche-Engine/Resources/Entity/Entity.json
Labels: enhancement, collisions

#248 Audio engine/editor double stopping and enabling pitch bug fixes
  Roche-Engine/Audio/AudioEditor.cpp
  Roche-Engine/Audio/AudioEditor.h
  Roche-Engine/Audio/AudioEngine.cpp
  Roche-Engine/Audio/AudioEngine.h
Labels: bug, audio
